<!DOCTYPE html lang="en">
<meta charset="utf-8">
<html>
<head>
    <title>Analytics events for Element clients</title>
    <style>
        .event-table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
        }

        .event-table .property {
            width: 33%
        }

        .event-table .description {
            width: 33%
        }

        .event-table .type {
            width: 33%
        }

        .event-table td {
            padding: 5px;
            border: 1px solid #ccc;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <h1>Analytics events for Element clients</h1>    
    {% for schema in schemas %}
        <section class="event">            
            <h2>{{ schema.event_name or schema.klass }}</h2>
            <p>{{ schema.description }}</p>
            <table class="event-table">
                <thead>
                    <tr>
                        <td class="property">Property</td>
                        <td class="description">Description</td>
                        <td class="type">Type</td>
                    </tr>
                </thead>
                <tbody>
                    {% for member in schema.members %}
                        <tr>
                            <td>{{ member.name }}</td>                        
                            <td>{{ member.description if member.description }}</td>
                            <td>
                                {% if member.enum %}
                                    <ul>
                                        {% for enum_value in member.enum.values %}
                                            <li>
                                                {% if enum_value.description %}
                                                    <b>{{ enum_value.name }}:</b> {{ enum_value.description }}
                                                {% else %}
                                                    {{ enum_value.name }}    
                                                {% endif %}    
                                            </li>
                                        {% endfor %}
                                    </ul>                                    
                                {% else %}                                
                                    {{ member.type }}
                                {% endif %}                            
                            </td>                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% endfor %}
</body>
</html>
