name: Validate Swift

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    concurrency:
      # When running on main, use the sha to allow all runs of this workflow to run concurrently.
      # Otherwise only allow a single run of this workflow on each branch, automatically cancelling older runs.
      group: ${{ github.ref == 'refs/heads/main' && format('swift-main-{0}', github.sha) || format('swift-{0}', github.ref) }}
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v3

    - name: Install Swift
      uses: swift-actions/setup-swift@v2
      with:
        swift-version: "5.7.3"

    - name: Build for Swift
      run: swift build
